/* Overall Body */
body {
    /* All text needs the roboto font */
    font-family: roboto;

    /* Border/Margin/Padding */
    margin: 0px;

    /* Flex Properties */
    display: flex;
    flex-direction: column;
}

/* Header styles */
.header {
    /* Visual */
    background-color: #1F2937;

    /* margin/border/padding */
    padding-left: 12%;
    padding-right: 12%;

    /* Flex container properties */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.header_logo{
    /* Text Color */
    font-size: 32px;
    font-weight: bolder;
    color: #F9FAF8;

}

.header_links{
    /* Text Color */
    font-size: 18px;
    color: #E5E7EB;

    
    /* Flex container properties */
}

li {

    /* Flex container properties */
    display: flex;
    flex-direction: row;
}



/* Hero section styles*/
.hero {
    /* Color properties */
    background-color: #1F2937;

    /* Padding/Margin/Border */
    padding-left: 12%;
    padding-right: 12%;
    
    padding-top: 50px;
    padding-bottom: 50px;


    /* Flex properties */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

    color: white;

}

 .text {
    /* Color properties */
    color: #F9FAF8;

    /* Flex Properties */
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    

 }

 .heromain {

    /* Text properties */
    font-size: 48px;
    font-weight: bolder;

 }
 
 .herosecond {
    
    /* Text properties */
    font-size: 18px;
    color: #E5E7EB;


 }

 button {
    /* Margin/Padding/Border */
    border-radius: 5px;
    border: 0;

    /* padding-left: 25%; */
    /* padding-right: 25%; */

    margin-top: 1%;
    margin-right: 90%;

    /* Coloring */
    background-color: #3882F6;

    /* Text */
    color: #E5E7EB;
    font-weight: bolder;

 }

 .pic {
    /* Flex properties */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;

    /* Coloring */
    background-color: #9a9b9e;
 }

 /* Info section styles */

 .info {
    /* Flex properties */
    display: flex;
    flex-direction: column;

 }

 .infoheader {
    /* Border/margin/padding */
    margin: 60px;
    /* text properties */
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    

 }

 .cardstack {
   /* border/margin/padding */
   padding-left: 20%;
   padding-right: 20%;
   /* flex attributes */
   display: flex;
   justify-content: space-between;

 }

 .card {
   /* margin/border/padding */
   /* border: 1px solid #eee;
   box-shadow: 2px 4px 16px rgba(0,0,0,.06); */

   /* Flex properties */
   display: flex;
   flex-direction: column;
   height: 200px;
   width: 200px;


 }

 .cardimage {
   /* margin/border/padding */
   border: 4px solid #77a6f1;
   border-radius: 12px;

   /* Height/width properties */
   height: 70%;

   /* text properties */
   text-align:center;
   vertical-align: middle;
   line-height: 70%;
   
   /* Color properties */
   background-color: #dbdbdb;

   /* Flex properties */
   display: flex;
   justify-content: center;
   align-items: center;
   

 }

 .cardtext {
   /* margin/border/padding */

   /* text properties */
   text-align: center;
   font: light italic #1f2937;

 }



 /* Styles for the Quote div */
 .testimonial {
   /* Border/Margin/Padding */
   margin-top:60px;
   /* flex properties */
   display: flex;
   justify-content: center;
   align-items: center;
   /* Color properties */
   background-color: #E5E7EB;
   /* Text properties */



 }

 .testTex {
   /* Border/Margin/Padding */
   /* flex properties */
   /* Color properties */
   /* Text properties */
   font-size: 36px;
   color:  #1f2937;
   padding-left: 25%;
   padding-right:25%

 }

 .paragraph {
   /* Border/Margin/Padding */
   /* flex properties */
   /* Color properties */
   /* Text properties */
   font-style: italic;

   

 }
 
 .author {
   /* Border/Margin/Padding */
   /* flex properties */
   /* Color properties */
   /* Text properties */
   font-weight: bolder;
   padding-left: 60%

 }